.vector-tooltip {
   min-width:25em;
}

 .vector-checkbox {
   width: 18px;
   height: 18px;
   vertical-align: bottom;
   margin-right: 7px !important;
}

.vector-add:disabled {
  color:gray;
}

.vector-heading {
   padding: 5px;
   padding-left: 10px;
   color: #333;
   background-color: #f5f5f5;
   border-color: #ddd;
}

.vector-body {
   padding: 5px;
   padding-left: 9px;
}